* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 425px;
  margin: 0 auto;
  padding: 5px;
}

/* Header */

.header {
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.header-txt {
  font-size: 40px;
  font-weight: 700;

  text-align: center;
  text-transform: uppercase;
  margin-top: 50%;
}

/* / Header */

/* Main */

.card-link {
  display: block;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.card-link__img {
  display: block;
  width: 400px;
  max-width: 100%;
  height: 400px;
  margin-bottom: 10px;
}

.card-link__uptitle {
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin-bottom: 5px;
}

.card-link__text {
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.span {
  font-size: 8px;
  color: gray;
}

/* / Main */
